<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fittone</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@v0.158.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@v0.158.0/examples/jsm/"
      }
    }
  </script>

  <script type="module" src="static/js/avatar.js"></script>

  <script>
    // Pass the model path to the JS file
    const modelPath = "{{ model_path }}";

    
  </script>
</head>  

<body>
  <header>
    <span class="menu-toggle">☰ Menu</span> <!-- Hamburger menu icon -->
    <nav>
      <ul>
        <li><a href="/">Get Size</a></li>
        <li><a href="/model2">Try Fittone</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/aboutus">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <section id="home">
      <div id='avatar-container'>
        <div id='avatar-loading'></div>
      </div>

      <h1 class="hero-title">Hi there 👋</h1>
      <h1>I'm your <span class='gradient-text'>Virtual dressing room</span></h1>
      <p>AI makes virtual fitting fast, fun and flawless with 3D web experience.</p>
      <p>Fill out the form below and experience how your selected shirt fits you...</p>
    </section>
  </div>

  <div class="wrapper">
    <div class="title">Virtual Fittone model2</div>
    <form action="/model2" method="POST" onsubmit="return validateInput()">
      <div class="form">
        <div class="inputfield">
          <label for="Factory CS">Collar Size (Inch)</label>
          <input class="input" type="number" name="Factory CS" step="0.01" min="13.75" max="17.5" required>
        </div>
        <div class="inputfield">
          <label for="Chest">Chest (Inch)</label>
          <input class="input" type="number" name="Chest" step="0.01" min="20" max="60" required>
        </div>
        <div class="inputfield">
          <label for="Shoulder">Shoulder (Inch)</label>
          <input class="input" type="number" name="Shoulder" step="0.01" min="12" max="25" required>
        </div>
        <div class="inputfield">
          <label for="Length">Length (Inch)</label>
          <input class="input" type="number" name="Length" step="0.01" min="20" max="40" required>
        </div>

        <div class="inputfield">
          <label for="Brand">Brand Name</label>
          <div class="custom_select">
            <select name="brandname" id="brandname" required>
              <option value="" selected hidden>Select</option>
              <option value="Brand Name_Robato">Robato</option>
            </select>
          </div>
        </div>

        <div class="inputfield">
          <label for="Type">Type</label>
          <div class="custom_select">
            <select name="Type" id="Type" required>
              <option value="" selected hidden>Select</option>
              <option value="Type_slim fit">Slim Fit</option>
              <option value="Type_trim fit">Trim Fit</option>
            </select>
          </div>
        </div>

        <div class="inputfield">
          <input class="btn" type="submit" value="SHOW">
        </div>
      </div>
    </form>

    <div class="result">
      <p id="message" style="display:none; color:red;"></p>
      {% if pred_value != 0 %}
      <p>Your chosen shirt: {{ pred_value[0] }} </p>
      {% endif %}
    </div>
  </div>

  <footer>
    <div class="footer-content">
      <div class="footer-section about">
        <h2>About Fittone</h2>
        <p>Fittone is your ultimate virtual dressing room, making it easy and fun to find the perfect fit.</p>
      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="/">Get Size</a></li>
          <li><a href="/model2">Try Fittone</a></li>
          <li><a href="/help">Help</a></li>
          <li><a href="/aboutus">About Us</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>Email: support@fittone.com</p>
        <p>Phone: +123-456-7890</p>
      </div>
    </div>
   
    <div class="footer-bottom">
      <p>&copy; 2024 Fittone. All Rights Reserved.</p>
    </div>
  </footer>
</body>

</html>


<!-- <!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fittone</title>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@v0.158.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@v0.158.0/examples/jsm/"
      }
    }
  </script>

  

  <script type="module" src="static/js/avatar.js"></script>

  <script>
    // Pass the model path to the JS file
    const modelPath = "{{ model_path }}";
    
  </script>

</head>  

<body>
  <header>
    <span class="menu-toggle">☰ Menu</span>
    <nav>
      <ul>
        <li><a href="/">Get Size</a></li>
        <li><a href="/model2">Try Fittone</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/aboutus">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <section id="home">
      <div id='avatar-container'>
        <div id='avatar-loading'></div>
      </div>

      <h1 class="hero-title">Hi there 👋</h1>
      <h1>I'm your <span class='gradient-text'>Virtual dressing room</span></h1>
      <p>AI makes virtual fitting fast , fun and flawless with 3D web experience.</p>
      <p>Fill out the form below and experience how your selected shirt fits you...</p>
    </section>
  </div>

  <div class="wrapper">
    <div class="title">Virtual Fittone model2</div>
    <form action="/model2" method="POST">
        <div class="form">
            <div class="inputfield">
                <label for="Factory CS">Coller Size (Inch)</label>
                <input class="input" type="text" name="Factory CS" required>
            </div>
            <div class="inputfield">
                <label for="Chest">Chest (Inch)</label>
                <input class="input" type="text" name="Chest" required>
            </div>
            <div class="inputfield">
                <label for="Shoulder">Shoulder (Inch)</label>
                <input class="input" type="text" name="Shoulder" required>
            </div>
            <div class="inputfield">
              <label for="Length">Length (Inch)</label>
              <input class="input" type="text" name="Length" required>
          </div>

          <div class="inputfield">
            <label for="Brand">Brand Name</label>
            <div class = "custom_select">
                <select name="brandname" id="brandname">
                    <option value="" selected hidden>Select</option>
                    <option value="Brand Name_Robato">Robato</option>
                   
                </select> 
            </div>
        </div>


            <div class="inputfield">
                <label for="Type">Type</label>
                <div class = "custom_select">
                    <select name="Type" id="Type">
                        <option value="" selected hidden>Select</option>
                        <option value="Type_slim fit">Slim Fit</option>
                        <option value="Type_trim fit">Trim Fit</option>               
                    </select>
                </div>
            </div>
           
            <div class="inputfield">
                <input class="btn" type="submit" value="SHOW">
            </div>
        </div>
    </form>

    <div class="result">
        {% if pred_value != 0 %}
        <p>Your chosen shirt: {{ pred_value[0] }} </p>
        {% endif %}
    </div>
</div>

<footer>

  <div class="footer-content">
    <div class="footer-section about">
      <h2>About Fittone</h2>
      <p>Fittone is your ultimate virtual dressing room, making it easy and fun to find the perfect fit.</p>
    </div>
    <div class="footer-section links">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/">Get Size</a></li>
        <li><a href="/model2">Try Fittone</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/aboutus">About Us</a></li>
      </ul>
    </div>
    <div class="footer-section contact">
      <h2>Contact Us</h2>
      <p>Email: support@fittone.com</p>
      <p>Phone: +123-456-7890</p>
    </div>
  </div>
 
  <div class="footer-bottom">
    <p>&copy; 2024 Fittone. All Rights Reserved.</p>
  </div>
</footer>

</body>

</html>
   -->
